* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --asset-blue: #271ce2;
  --asset-blue-hover: #6c63ff;
  --input-field-grey: #8078ff42;
  --input-field-grey-0: #fff;
}
html{
  overflow-x: hidden;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  flex: 50%;
}
a{
  text-decoration: none;
  color: #111;
}
hr{
  visibility: hidden;
  width: 70%;
  margin: .52em auto;
}
.btn {
  padding: 12px;
  background-color: var(--asset-blue);
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  padding: 12px;
  background-color: var(--asset-blue-hover);
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
}
.hero {
  height: 80vh;
  margin-top: 5em;
  margin: 4em 8em;
}
.text {
  text-align: left;
}
.hero h1 {
  margin-top: 1.5em;
  margin-bottom: 0.52em;
  font-size: 3rem;
  line-height: 1.2;
}
.hero span {
  display: block;
}
.hero p {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 2.15rem;
}

.hero img {
  height: 64vh;
}
.service {
  margin: 5% 20%;
}
.service {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  padding: 10px;
}
.ServiceCard {
  text-align: center;
  padding: 20px;

  box-shadow: 0 0 12px 3px rgba(238, 236, 236, 0.76);
}
.service > div {
  text-align: center;
}
.serviceIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 3px 5px rgba(226, 226, 226, 0.76);
}
.serviceIcon {
  margin-bottom: 2em;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 0.2s ease-in;
}
.serviceIcon > img {
  margin-top: 0.82em;
  height: 40px;
}
.serviceDetails {
}
.serviceDetails h3 {
  margin: 0.94rem 0;
  line-height: 2rem;
  font-size: 1.32rem;
}
.serviceDetails p {
  margin: 0.42rem 0;
  line-height: 1.2em;
  font-size: 0.82rem;
}

.contact {
  margin: 4em 8em;
}
.contact .text {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.contact .text h1 {
  margin: 1em 0;
}
.contact ul {
  margin-top: 2em;
}
.contact ul > li {
  display: flex;
  vertical-align: text-top;
  margin-top: 0.852em;
}
.contact ul > li > span{
  padding-left: 1.2rem;
}
.contact .icons {
  font-size: 24px;
  color: var(--asset-blue);
}
.contact .social {
  margin: 2.9em 0;
}
.contact .social > a {
  margin: 0.42em;
  padding: 0.42em;
  color: var(--asset-blue);
  font-size: 20px;
  background-color: var(--input-field-grey);
  border-radius: 50%;
}

.contact form {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-color: var(--input-field-grey-0);
  border-radius: 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 26%);
}
.form-group {
  text-align: left;
  margin: 1.2em 0;
}
.form-group label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.2rem 0;
}
.form-group input,
textarea {
  width: 100% !important;
  background-color: var(--input-field-grey);
  border: none;
  padding: 15px;
}
.projects {
  margin-top: 2em;
  margin-bottom: 5em;
}
.projects h1 {
  margin-bottom: 1em;
}
.projects .row {
  border-radius: 25px;
  box-shadow: 0 3px 6px #00000033;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.projects .row .col-6 {
  padding: 2em;
}
.projects .row .col-6 h2 {
  font-size: 1.9rem;
}
.projects .row .col-6 p {
  font-size: 0.9rem;
  margin: 2em 0;
}
.projects .row .col-6 img {
  height: 150px;
}
.footer{
  padding: 1.2rem 0;
  background-color: var(--input-field-grey);
}
.footer-credit{
  font-size: .82rem;
  padding: 10px 0;

}
@media (max-width: 450px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-6 {
    flex: 100%;
  }
  .hero {
    margin: 2em 1em;
  }
  .hero h1 {
    margin-top: .87rem;
    margin-bottom: 0.52em;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .hero p {
    margin: 2rem 0;
    font-size: 1.25rem;
    line-height: 2.15rem;
  }
  .hero img {
    margin-top: 2em;
    height: 25vh;
    text-align: center;
  }
  .service {
    margin: 2%;
  }

  .service {
    grid-template-columns: auto;
    grid-gap: 20px;
  }


  .serviceDetails h3 {
    margin: 0.94rem 0;
    line-height: 2.8rem;
    font-size: 1.8rem;
  }
  .serviceDetails p {
    margin: 0.42rem 0;
    line-height: 1.352rem;
    font-size: 1.082rem;
  }
  .contact {
    margin: 1em;
  }
  .contact .row{
    flex-direction: column;
  }
  .contact .text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact form {
    width: 95%;
  }
  .projects {
    margin-top: 3em;
    margin-bottom: 2em;
  }
  .projects .row {
    width: 90%;
  }
  .projects .row .col-6 p {
    font-size: 1.2rem;
    margin: 1.4rem 0;
    line-height: 1.9rem;
  }
  .projects .row .col-6 img {
    height: 120px;
  }
  .footer .row .col-6:nth-child(2){
    display: none ;
  }
  .footer-credit{
    font-size: .82rem;
    padding: 10px 0;
  
  }
}
